.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.login-container form input {
  height: 48px;
  font-size: 16px;
  color: #666;
  margin-top: 20px;
  padding: 0 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.login-container form input::placeholder { color: #999; }

.login-container form button {
  height: 48px;
  background: #FD4723;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}